# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.FMP-Physics-based-Puzzle-Game.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\jannl\Documents\Allerlei-Spielerei\Solent\FMP\UnityProjects\FMP-Physics-based-Puzzle-Game\.idea\.idea.FMP-Physics-based-Puzzle-Game\.idea/dataSources/
/dataSources.local.xml
